<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/basketball.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>
      Edit <%=gameObjectFromDB.homeAbbreviation%> VS.
      <%=gameObjectFromDB.awayAbbreviation%>
    </title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <nav class="navbar navbar-light bg-light justify-content-start">
          <a class="navbar-brand border p-2 bg-primary text-light" href="/"
            >Home</a
          >
          <a class="navbar-brand border p-2 bg-primary text-light" href="/games"
            >Games CRUD (Michael Chang)</a
          >
          <a
            class="navbar-brand border p-2 bg-primary text-light"
            href="/employees"
            >Players CRUD (Daniel Lisko)</a
          >
        </nav>
        <div class="row mb-3">
          <div class="col">
            <form action="/editGame/editGameUpdate" method="post">
              <div class="homeAwayContainer m-5">
                <div class="card m-2">
                  Home Team: <%=gameObjectFromDB.homeAbbreviation%> -
                  <%=gameObjectFromDB.homeName%>
                </div>
                <div class="card m-2">
                  Away Team: <%=gameObjectFromDB.awayAbbreviation%> -
                  <%=gameObjectFromDB.awayName%>
                </div>
              </div>
              <div class="winLoseContainer m-5">
                <label for="winTeam">Choose win team:</label>
                <select name="winTeam" id="winTeam">
                  <option value="">Please choose a winner</option>
                  <option value="<%=gameObjectFromDB.homeTeam%>">
                    <%=gameObjectFromDB.homeAbbreviation%> -
                    <%=gameObjectFromDB.homeName%>
                  </option>
                  <option value="<%=gameObjectFromDB.awayTeam%>">
                    <%=gameObjectFromDB.awayAbbreviation%> -
                    <%=gameObjectFromDB.awayName%>
                  </option>
                </select>
                <label for="loseTeam">Choose lose team:</label>
                <select name="loseTeam" id="loseTeam">
                  <option value="">Please choose a loser</option>
                  <option value="<%=gameObjectFromDB.homeTeam%>">
                    <%=gameObjectFromDB.homeAbbreviation%> -
                    <%=gameObjectFromDB.homeName%>
                  </option>
                  <option value="<%=gameObjectFromDB.awayTeam%>">
                    <%=gameObjectFromDB.awayAbbreviation%> -
                    <%=gameObjectFromDB.awayName%>
                  </option>
                </select>
                <input
                  name="gameID"
                  type="hidden"
                  value="<%=gameObjectFromDB.gameID%>"
                />
              </div>
              <button type="submit" class="btn btn-primary btn m-2">
                Update
              </button>
            </form>
          </div>
        </div>
        <div class="div">
          <a href="/games">Go Back to Games</a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
